---
layout: layout.liquid
title: 11ty Boilerplate
---

<div x-data="nameGenerator()">
    <button @click="getRandomName()">
        Generate name
    </button>

    <h1 x-text="currentName"></h1>
</div>